<article (click)=toggleDisplayBook()>
  <header>
    <h4>{{ book.title }}</h4>
    <div *ngFor="let author of book.authors">{{ author.name }}</div>
    <strong>{{ book.first_publish_year }}</strong>
  </header>
  <div>
    <img [hidden]="this.book.selected" [src]=book.cover alt="Book's cover">
  </div>
  <small [hidden]="!this.book.selected">
    <p>Subjects</p>
    <p>Languages</p>
    <p>Publishers</p>
    <p>Number of pages</p>
    <a [href]="book.open_library_url">Fiche Open Library</a>
  </small>
</article>

